// Variables pour les couleurs et typographies
$primary-bg: linear-gradient(to bottom, #F9B872, #FF9F6F);
$text-color: #000000;
$highlight-color: #52C8E9;
$button-bg: #52C8E9;
$button-hover-bg: #41A7C7;
$font-primary: 'Chillax', sans-serif;

// Styles globaux
//* {
  //font-family: $font-primary;
//}
