.card-quizz {
  display: flex;
  justify-content: center;
}

.quizz-title {
  text-align: center; /* Centre le texte */
  font-size: 2rem; /* Équivaut à fs-1 de Bootstrap */
  margin: 2rem 0; /* Espacement autour */
  padding: 1rem; /* Espacement intérieur */
  font-family: 'Chillax', sans-serif; /* Utilise ta typo */
  font-weight: 600; /* Semibold */
  color: #F6F6F6; /* Couleur personnalisable */
}


.custom-radio-buttons {
  position: relative;
  display: flex;
  width: 70%;
  /* align-items: center;*/
  /* justify-content: center; */
  margin: 0 auto;
}

.custom-radio-buttons input[type="radio"] {
  display: none; /* Cache les vrais boutons radio */
}
.custom-radio-buttons label {
  font-family: Chillax-Light;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  background: linear-gradient(90deg, #7EBDC2, #FF9F6F);
  color: #F6F6F6;
  /*  transition: background 0.3s;*/
  cursor: pointer;
  text-align: center;
  margin: 5px;
  width: 100%;
}
.custom-radio-buttons-left label {
  justify-content: flex-start;
}

.custom-radio-buttons-right label {
  justify-content: flex-end;
}

.custom-radio-buttons label:hover {
  transform: scale(1.05); /* Agrandissement léger */
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3); /* Effet d'ombre */
}

.custom-radio-buttons input[type="radio"]:checked + label {
  background: #007bff;
  color: white;
  border-color: #007bff;
  transform: scale(1.05); /* Effet léger au clic */
  transform: translateX(30px);
}

.chillax-text-question {
  font-family: 'Chillax', sans-serif;
  font-weight: 600;
}

.chillax-text-answer {
  font-family: 'Chillax', sans-serif;
  font-weight: 300;
}

.form-inputs {
  background: linear-gradient(90deg, #7EBDC2, #FF9F6F);
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.quizz-page .bubbly-button {
  width: 300px; /* Ajuste selon le design */
  height: 80px;
  padding: 15px 50px;
  display: block;
  margin: 20px auto;
  text-align: center;
  background: linear-gradient(90deg, #7EBDC2, #FF9F6F);
  color: #F6F6F6;
  font-size: 1.5rem;
  font-family: 'Chillax', sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.quizz-page .bubbly-button:hover {
  transform: scale(1.05);
}

.quizz-page .bubbly-button:active {
  transform: scale(0.9);
  background: linear-gradient(90deg, #FF9F6F, #DB4367);
}
