<div class="career-card">
  <%= image_tag "images/#{career[:image_url]}", alt: career[:title], class: "career-image" %>
  <div class="card-content">
    <h3><%= career[:title] %></h3>
    <p><%= career[:description] %></p>
    <a href="#" class="btn btn-primary">Regarder la vidéo</a>
  </div>
</div>
