<!-- ICI LES QUESTIONS DU FORMULAIRE MBTI-->
  <br>
  <br>
  <br>
  <br>
  <%= f.fields_for :answers do |a|  %>
      <% Answer::QUIZZ.each_with_index do |quizz, index| %>
      <div class="btn-quizz<%= index.even? ? 'left' : 'right' %>">
        <!-- Stocke le numéro de la question. Ici, question_number vaut 1 -->
        <%#= f.hidden_field :question_number, value: index %>

        <!-- Affichage de la question -->
        <p class="chillax-text-question"><%= quizz[:question] %></p>

        <%# Parcours les options numérotées de 1 à 5 %>
        <%=a.input "answer_#{index + 1}".to_sym,
                    as: :radio_buttons,
                    collection: quizz[:answers],
                    legend_tag: false,
                    require: true,
                    wrapper_class: "custom-radio-buttons"  %>

      </div>

    <% end %>
  <% end %>
