<header>
  <div class="header-container">
    <div class="header-left">
      <%= image_tag("TREMÄ.png", alt: "Trema", class: "company-name") %>
    </div>

    <div class="header-right">
      <%= image_tag("Logo.png", alt: "Logo", class: "company-logo") %>
    </div>
  </div>
</header>
