<section class="homepage-header">
  <h1>La reconversion, <br> mais sans <span class="stress">stress.</span></h1>
</section>

<div class="box1">
</div>

<div class="box2">
</div>


<p class="text1">
  Que tu saches déjà où tu vas ou que tu sois complètement paumé, on est là pour te guider.
</p>


<p>Trema t’aide à trouver le métier qui te correspond et à franchir chaque étape, pas à pas.</p>

<%= link_to "Aide-moi à trouver !", new_answer_path %>

<button disabled>Je fonce !</button>
