<div class="background-wrapper">
  <div class="box1"></div>
  <div class="box2"></div>
  <div class="container">
    <div class="description-container">

      <div>
        <h1>La reconversion,<br> &nbsp;&nbsp;&nbsp;&nbsp;mais sans <span class="stress">stress</span>.</h1>
      </div>

      <div>
        <%= image_tag("Zenflow (1).png", class: "znenflow1-img") %>
      </div>

      <div>
        <%= image_tag("Zenflow.png", class: "zenflow-img") %>
      </div>

      <div>
      <p class="text1">
        Trema t’aide à trouver le métier qui te correspond et à franchir chaque étape, pas à pas.
      </p>
      </div>

      <div>
      <p class="text2">
        Que tu saches déjà où tu vas ou que tu sois complètement paumé, on est là pour te guider.
      </p>
      </div>

      <div>
      <%= link_to "Aide-moi à trouver !", new_user_registration_path, class: "btn1" %>
      </div>

      <div>
        <p class="btn2">
          Je fonce!
        </p>
      </div>

      </div>

    </div>
  </div>
</div>
