<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Chargement...</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
</head>

<body class="loading-screen">
  <!-- Conteneur étoiles filantes -->
  <div id="stars-container"></div>

  <div class="center-content">
    <div class="logo-container">
  <h1 class="logo-text">
    <span>T</span>
    <span>R</span>
    <span>E</span>
    <span>M</span>
    <span class="logo-a-wrapper">
      A
      <img src="<%= asset_path('logointro.png') %>" alt="Logo" class="logo-dot-above">
    </span>
  </h1>
</div>

<div class="enter-button drop-in" style="animation-delay: 0.6s;" onclick="goHome()">START</div>

<script>
  function goHome() {
    window.location.href = "<%= url_for(controller: 'pages', action: 'home') %>";
  }
</script>
</body>
</html>
