<div class="background-wrapper">
  <div class="rectangle-left"></div>
  <div class="rectangle-right"></div>



  <!-- Logo Manuel placé ici dans le background -->
  <div class="logo-container">
    <img src="<%= asset_path 'manuel.png' %>" alt="Logo Manuel">
  </div>

  <div class="container">
    <h1>Tu es <span class="highlight"><%= current_user.psy_profile.name %></span> !</h1>

    <div class="description-container">
      <p class="description"><%= @psy_profile.description %></p>
    </div>

     <div class="cta-container">
      <p class="cta-text">Découvre les métiers !</p>
      <%= link_to "Poursuivre", "#", class: "button" %>
    </div>
  </div>
</div>
