<div class="start-background-wrapper">
  <div class="start-rectangle-left"></div>
  <div class="start-rectangle-right"></div>

  <!-- Logo Manuel placé ici dans le background -->
  <div class="start-logo-container">
    <img src="<%= asset_path 'default_profile.png' %>" alt="Logo Manuel">
  </div>

  <div class="start-container">
    <h1 class= "welcome-title">Tu es <span class="start-highlight"><%= @psy_profile.name %></span> !</h1>

    <div class="start-description-container">
      <p class="start-description"><%= @psy_profile.description %></p>
    </div>

    <div class="start-cta-container">
      <%= link_to "Découvre ton futur métier !", psy_profile_path(@psy_profile.id), class: "start-button" %>
    </div>
  </div>
</div>
