// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

@import "config/variables";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "components/header";
@import "pages/home";
@import "pages/dashboard";

@import "pages/career";

@import "pages/profile";
@import "pages/jobs";
@import "pages/start";
@import "pages/quizz";

@font-face {
  font-family: 'Chillax';
  src: url(asset-path('Chillax-Regular.woff2')) format('woff2'),
       url(asset-path('Chillax-Regular.woff')) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chillax';
  src: url(asset-path('Chillax-Bold.woff2')) format('woff2'),
       url(asset-path('Chillax-Bold.woff')) format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Chillax', sans-serif;
  background: linear-gradient(to bottom, #F9B872, #FF9F6F);
}
